# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
.env
*.venv
venv/
ENV/
env/
*.egg-info/
dist/
build/
*.log

# Streamlit
.streamlit/

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# PDFs and docs
*.pdf
*.docx

# Output files
output.json